*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border-color: #A9A9A9;
}

body{
    font-size: 1.7rem;
    height: 100vh;
    background: linear-gradient(to left, rgba(.0, .0, .0, .14), rgba(.0, .0, .0, .14)),
    url('../images/desk.jpeg') no-repeat center center/cover
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #f4f4f4;
    border-radius: 1%;
    overflow: hidden;
}

.calculator__button{
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calculator__button,
.calculator__output{
    font: inherit;
    outline: none;
    border: none;
    padding: 2rem;
    color: #000;
}

.left-border{
    border-left: .01rem solid var(--border-color);
}


.calculator__button{
    transition: background-color .2s;
}

.calculator__button:hover{
    background-color: #eaeaea;
}

.calculator__button:active{
    opacity: .65;
}

.calculator__output{
    grid-column: 1 / span 5;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: #eaeaea;
}

.calculator__clear{
    grid-column: 4 / span 2;
}

@media (hover:none), (hover:on-demand){
    .calculator__button:hover{
        background: none;
    }
}
